*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}


#saiba{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: 15px;
}
ul{
    
    list-style: none;
    display: flex;
}
li{
    display: inline-block;
}

.container{
    
    text-align: center;
    padding: 12px;
    color: white;display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.formContainer{
    max-width: 230px;
    background-color: #585757bb;
    float: right;
    padding: 30px;
    word-wrap: break-word;
    margin-top: 80px;
    margin-right: 30px;
    border-radius: 10px;
    height: 300px;
    margin-bottom: 20px;
    
}

.btn{
    padding:0 0 10px;
}

.section-1{
    background-image: linear-gradient(rgba(0,0,0,0.75) , rgba(0,0,0,0.60)), url('../imagens/53-regiao-glenbrook-caminho-de-pukaki-1024x576.jpg');
    background-size: cover;
    overflow-x: hidden;background-position: center;
    height: 94vh;
    
    
    object-fit: cover;
    
    
    
    
}

.section-2{
    background-image: linear-gradient(rgba(0,0,0,0.75) , rgba(0,0,0,0.60)), url('../imagens/Cataratas-do-Niágara-à-noite.png');
    background-size: cover;
    overflow-x: hidden;background-position: center;
    height: 100vh;
    object-fit: cover;
    
}
.section-3{
    background-image: linear-gradient(rgba(0,0,0,0.75) , rgba(0,0,0,0.60)), url('../imagens/dorset-o-que-fazer-durdle-door-inglaterra.webp');
    background-size: cover;
    overflow-x: hidden;background-position: center;
    height: 100vh;
    object-fit: cover;
    
}
.section-4{
    background-image: linear-gradient(rgba(0,0,0,0.75) , rgba(0,0,0,0.60)), url('../imagens/fb111.webp');
    background-size: cover;
    overflow-x: hidden;background-position: center;
    height: 100vh;
    object-fit: cover;
    
}
.section-5{
    background-image: linear-gradient(rgba(0,0,0,0.75) , rgba(0,0,0,0.60)), url('../imagens/conheca-templo-angkor-wat-camboja.jpg');
    background-size: cover;
    overflow-x: hidden;background-position: center;
    height: 100vh;
    object-fit: cover;
    
}
.section-6{
    background-image: linear-gradient(rgba(0,0,0,0.75) , rgba(0,0,0,0.60)), url('../imagens/6');
    background-size: cover;
    overflow-x: hidden;background-position: center;
    height: 100vh;
    object-fit: cover;
    
}
.section-7{
    background-image: linear-gradient(rgba(0,0,0,0.75) , rgba(0,0,0,0.60)), url('../imagens/7');
    background-size: cover;
    overflow-x: hidden;background-position: center;
    height: 100vh;
    object-fit: cover;
    
}
.section-8{
    background-image: linear-gradient(rgba(0,0,0,0.75) , rgba(0,0,0,0.60)), url('../imagens/8');
    background-size: cover;
    overflow-x: hidden;background-position: center;
    height: 100vh;
    object-fit: cover;
    
}







.inp{
    padding: 7px;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-bottom: 8px;


}

.conteudo{
    display: inline-block;
    transform: translate(450px,300px); 
    margin: auto;
    max-width: 1000px;
    text-align: center;
    
    
    color: white;
    
}

.conjunto{
    margin-bottom: 10px;
}

#button{
    text-decoration: none;

}

button{
    padding: 8px;
    border-radius: 10px;
}

.cadastro{
    margin-top: 10px;
    padding: 8px;
}

.container ul li{
    display: inline;
    position: relative;
    text-align: center;
    width: 150px;
    
}

.container ul ul{
    display: none;
    left: 0;
    position: absolute;
}

.container ul li:hover ul{
    display: block;
}

.container ul ul{
    width: 150px;
    text-align: center;
    z-index: 1000;
    list-style: none;
    
}

.container ul ul li a{
    display: block;
    padding: 5px;
    background-color: black;
    text-decoration: none;
    color: white;
    
}

.container ul ul li a:hover{
    background-color: rgb(27, 24, 24);
}

#video{
    transform: translate(100px,100px);
    display: inline-block;
}

